<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Application root file path -->
    <add key="RootFilePath" value="" /> <!-- Dont provide value here if Folder structures are created as per the plan-->
    <add key="UIControlFile" value="UI\\UIControls.xlsx" />
    <add key="VerificationFile" value="Verifications\\Verifications.xlsx" />
    <add key="TestConfigurationFile" value="Configuration\\TestConfigurations.xlsx" />
    <add key="TestCaseFolderName" value="TestCases" />
    
    <!-- Test report file path and file name prefix-->
    <add key="TestReport_FileNamePrefix" value="Test Report" />
    <!-- Wait for control to exist timeout value -->
    <add key="WaitForControlToExistTimeOut" value="6000" />
    <!-- Browser to use (ie, chrome or firefox)-->
    <add key="BrowserType" value="ie" />
    <add key="WindowType" value="windowapp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name ="oledb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0 Xml;HDR=NO;&quot;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>